{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UCT PathSlides - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">

    {{ wtf.quick_form(form) }}
    <br>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <!--<p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p> remove this line to hide from unregistered users-->
</div>
 <img class="img-responsive" src="{{ url_for('static', filename='uctpathslides_logo.svg')}}" onerror="this.src=pathslides_logo_large.png; this.onerror=null;">
{% endblock %}
