{% extends "bootstrap/base.html" %}

{% block title %}UCT PathSlides, the UCT Pathology Slide Database{% endblock %}

{% block head %}
{{ super() }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118972747-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-118972747-1');
</script>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

<!--added favicon stuff below -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}"
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}"
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}"
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}"
<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg', color='#5bbad5') }}"
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<!--Janky style here because I can't modify Flask bootstrap 3 styles in styles.css-->
<style>
@media (min-width: 768px) {
   .equal{  
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
    }
    
    .equal > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
}

.panel {
    width: 100%;
    height: 100%;
}


</style>


{% endblock %}

{% block navbar %}

<div class="navbar navbar-default role="navigation"  style="min-height: 58px; padding-top: 5px; padding-bottom: 4px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}" title="UCT PathSlides - Pathology Slide Database" > 
          
            <img src="{{ url_for('static', filename='uctpathslides_logo.svg')}}" style="margin-top: -18px;" width="153px" height="54px" onerror="this.src=pathslides_logo.png; this.onerror=null;"> </a>
           <!--<a class="navbar-brand" href="{{ url_for('main.index') }}">UCT PathSlides</a>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.index') }}">Case Index</a></li>
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.can(Permission.MODERATE) %}
                <li><a href="{{ url_for('main.moderate') }}">Moderate Answers (Diagnoses)</a></li>
                {% endif %}
                {% if current_user.can(Permission.ADMIN) %}
                <li><a href="{{ url_for('auth.register') }}">Add a user</a></li>
                {% endif %}
                {% if current_user.can(Permission.ADMIN) %}
                <li><a href="{{ url_for('main.add_case') }}">Add a case</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
{% block page_content %}{% endblock %}
<footer class="container-fluid text-center">
<p class="copyright text-muted small" style="margin-top: 10px;">&copy; University of Cape Town 2018. All rights reserved.</p>
</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    
{{ moment.include_moment() }}
{% endblock %}